@media (max-width: 1290px) {
    
    body{
        font: 16px/1.5 'Source Sans Pro', sans-serif; 
        
    }
    
    /* .section{
        flex-direction: column;
    }
    
     */

    
   .inner{
    margin-left: -1em;
   }

    

 header{
    /* width: auto; */
     /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('./IMG_6797.jpeg');   */
     background-color: #AD1519;
     background-image: none;
     height: 300px;
  
 }

.header-title {
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
    font-size: 1.5em;
} 

.card3, .card4, .card5, .card6, .card7, .card8, .card9, .card10, .card11{
    margin-top: 0.1em;
}

.section-cards .card:hover, .card1:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover, .card6:hover,
 .card7:hover,.card8:hover, .card9:hover, .card10:hover, .card11:hover {
    transform: scale(1.01);
}

@media (min-width: 600px) {
    html { font-size: 14px; }
}

@media (min-width: 900px) {
    html { font-size: 16px; }
}

@media (min-width: 1200px) {
    html { font-size: 18px; }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
    line-height: 1.2;
    margin: 1em 0 0.5em 0;
    padding: 0;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    margin: 0;
    padding-bottom: 1.5rem;
}

    }