@media (max-width: 1290px) {
    
    body{
        font: 16px/1.5 'Source Sans Pro', sans-serif; 
        
    }
    
    .section{
        flex-direction: column;
    }
    
    
    #btn-back, #btn-next {
        padding: 0.3em 1.5em;
    }
    
    
    article{
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5em;
    }

    section .section{
       flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0.5em;


    }

    header {
    
max-height: 1200px;
    max-width:1200px;
    background-size: cover;

}

header-title {
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
    font-size: 1.5em;
}
    }