

/* 
/* =========================
   ULTRA WIDE SCREENS
========================= */
/*  */
@media (min-width: 2230px) {

    .inner {
        max-width: 2200px;
        gap: 2em;
    }
    .button {
        padding-top: 14em;
    }

    button {
        padding: 1em 4.5em;

        font-size: 20px;

        border-radius: 2em;
    }
   

    .card,
    .card1,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6,
    .card7,
    .card8,
    .card9,
    .card10,
    .card11 {

        width: calc(33.333% - 2em);

        min-width: 500px;
        max-width: 650px;

        height: 700px;
    }
} 


@media (max-width: 1024px) {

    header {
        height: 500px;
        margin-bottom: 2em;
        background-position: center;
    }

    section {
        font-size: 1.5rem;
        padding: 1em;
    }

    .header-title h1 {
        font-size: 32px;
        margin-top: 0;
        text-align: center;
        margin-top: -0.8em;
    }

    .header-title p {
        text-align: center;
        font-size: 18px;
    }

    .inner {
        gap: 1.5em;
        padding: 1em;
    }

    .card,
    .card1,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6,
    .card7,
    .card8,
    .card9,
    .card10,
    .card11 {

        width: 45%;
        height: 450px;

        margin-left: 0;
        margin-top: 0;

        padding: 1.5em;
    }

    .card-header h3 {
        font-size: 22px;
        /* margin-bottom: 1.5em; */
    }

    .button {
        padding-top: 12em;
    }

    button {
        padding: 0.7em 2.5em;
        font-size: 14px;
    }
}


/* =========================
   MOBILE RESPONSIVE
========================= */
@media (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    header {
        height: 380px;
        padding: 1em;
        margin-bottom: 2em;
        background-position: center;
    }

    section {
        font-size: 1.2rem;
        padding: 0.5em;
    }

    .header-title h1 {
        font-size: 26px;
        text-align: center;
        margin-top: 0;
         margin-top: -0.8em;
    }

    .header-title p {
        font-size: 16px;
        text-align: center;
        
    }

    .inner {
        flex-direction: column;
        gap: 1.5em;
        padding: 0.5em;
    }

    .card,
    .card1,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6,
    .card7,
    .card8,
    .card9,
    .card10,
    .card11 {

        width: 100%;
        max-width: 400px;

        height: 380px;

        margin: 0;
        padding: 1em;
    }

    .card-header h3 {
        font-size: 20px;
        /* margin-bottom: 1em; */
    }

    .button {
        padding-top: 12em;
    }

    button {
        /* width: 100%;
        max-width: 220px; */

        padding: 0.8em 1em;
        width: auto;
        max-width: unset;
        /* padding: 0.7em 3.5em; */

        font-size: 13px;
    }

    footer {
        margin-top: 4em;
        font-size: 14px;
    }
}


/* =========================
   SMALL MOBILE DEVICES
========================= */
@media (max-width: 480px) {

    header {
        height: 280px;
    }

    .header-title h1 {
        font-size: 22px;
         margin-top: -0.8em;
       
    }

    .header-title p {
        font-size: 14px;
       
    }

    .card,
    .card1,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6,
    .card7,
    .card8,
    .card9,
    .card10,
    .card11 {

        height: 320px;
    }

    .card-header h3 {
        font-size: 18px;
    }

    .button {
        padding-top: 10em;
    }

    button {
        font-size: 12px;
         width: auto;
        padding: 0.7em 2.5em;
        /* font-size: 14px; */
    }
}