@media (max-width: 400px) {

    body {
        font-size: 14px;
    }

    .header-title,
    article {
        margin: 0.5em;
        padding: 1em;
        border-radius: 12px;
    }

    .header-title h1 {
        font-size: 28px;
        margin-top: 0;
    }

    .header-title p,
    .contain p {
        font-size: 15px;
        line-height: 1.7;
    }

    .contain h2 {
        font-size: 22px;
        margin-top: 0.5em;
    }

    .buttons {
        gap: 0.5em;
        margin: 0.5em;
    }

    /* #btn-back,
    #btn-next {
        flex: 1;
        padding: 0.7em 1em;
        margin: 0;
        font-size: 13px;
    } */

        
    #btn-back, #btn-next {
        padding: 0.3em 1.5em;
    }
    

    .contain {
        width: 100%;
    }

    img,
    .main-image {
        border-radius: 10px;
    }

    /* .back-to-top {
        bottom: 15px;
        right: 10px;
        padding: 8px;
    } */

    footer {
        margin-top: 3em;
        padding: 0.8em;
        font-size: 14px;
    }

      article {
        padding: 1em;
        overflow: hidden;
    }

    .description {
    padding: 0.5em;
    }

    .contain p {
        margin-bottom: 0.8em;
    }

    picture.contain {
        margin: 1em -1em;
    }

    picture.contain img {
        width: 100%;
        border-radius: 0;
    }
}


@media (min-width: 401px) and (max-width: 767px) {

    .header-title h1 {
        font-size: 32px;
    }

    .contain p {
        font-size: 16px;
    }

    article {
        padding: 1.5em;
    }

    img {
        width: 100%;
    }
       .description {
    padding: 0.5em;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .header-title h1 {
        font-size: 42px;
    }

    .contain p {
        font-size: 18px;
    }

    article {
        padding: 2em;
    }

    .images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

     .description {
    padding:  1em;
    }
}

